name: Publish new theme version

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            manifest.json
            theme.css
          generate_release_notes: false
          body: |
            ## Academic Theme ${{ github.ref_name }}

            下载 `theme.css` 和 `manifest.json`，放入 `.obsidian/themes/Academic/` 文件夹即可。
